openapi: 3.0.0
info:
  title: Data Summary API
  version: '1.0'
  description: |-
    The Tidepool API is an HTTP REST API used by Tidepool clients use to communicate with the Tidepool Platform.

    For more information, see the [Getting Started](../docs/quick-start.md) section.
  contact:
    name: Tidepool
    url: 'https://www.tidepool.org'
    email: support@tidepool.org
  termsOfService: 'https://developer.tidepool.org/terms-of-use/'
  license:
    name: BSD 2-Clause "Simplified" License
    url: 'https://github.com/tidepool-org/summary/blob/master/LICENSE'
  x-tidepool-service: 'https://github.com/tidepool-org/summary'
servers:
  - url: 'https://external.integration.tidepool.org'
    description: integration
  - url: 'https://api.tidepool.org'
    description: production
  - url: 'https://dev1.dev.tidepool.org'
    description: dev1
  - url: 'https://qa1.development.tidepool.org'
    description: qa1
  - url: 'https://qa2.development.tidepool.org'
    description: qa2
security:
  - sessionToken: []
tags:
  - name: Internal
    description: APIs intended for internal use by Tidepool.
  - name: Summary
    description: |-
      Summary Data

      This API is for a component within the `data` service that calculates summary statistics for user accounts.
      These routes are mostly executed by the `task` and `clinic-worker` services.
paths:
  '/v1/summaries/{summaryType}/{userId}':
    parameters:
      - $ref: '#/components/parameters/summaryType'
      - $ref: '#/components/parameters/userId'
    get:
      summary: Get User Summary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Summary'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: GetSummary
      description: Retrieve a summary by user id
      x-internal: true
      tags:
        - Summary
        - Internal
components:
  schemas:
    TidepoolUserId:
      type: string
      title: Tidepool User ID
      pattern: '^([0-9a-f]{10}|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$'
      description: 'String representation of a Tidepool User ID. Old style IDs are 10-digit strings consisting of only hexadeximcal digits. New style IDs are 36-digit [UUID v4](https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_(random))'
      readOnly: true
      x-go-type: string
    SummaryTypeSchema:
      type: string
      title: Summary Type
      enum:
        - cgm
        - bgm
      description: Field which contains a summary type string.
      x-go-type: string
      x-go-type-skip-optional-pointer: true
    BGMBucketData:
      type: object
      title: bgmbucketdata.v1
      description: Series of counters which represent one hour of a users data
      properties:
        lastRecordTime:
          type: string
          format: date-time
        timeInTargetRecords:
          description: Counter of records in target glucose range
          type: number
          example: 10
          x-go-type: int
        timeInHighRecords:
          description: Counter of records in high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInVeryHighRecords:
          description: Counter of records in very high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInLowRecords:
          description: Counter of records in low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInVeryLowRecords:
          description: Counter of records in very low glucose range
          type: number
          example: 10
          x-go-type: int
        totalGlucose:
          type: number
          x-go-type: float64
          description: Total value of all glucose records
          example: 1234.56
      required:
        - targetRecords
        - highRecords
        - veryHighRecords
        - lowRecords
        - veryLowRecords
        - totalGlucose
    BGMPeriod:
      type: object
      title: bgmperiod.v1
      description: 'Summary of a specific BGM time period (currently: 1d, 7d, 14d, 30d)'
      properties:
        hasAverageGlucoseMmol:
          type: boolean
        averageGlucoseMmol:
          description: Average Glucose of records in this period
          type: number
          example: 5.5
          x-go-type: float64
        averageGlucoseMmolDelta:
          description: Difference between the averageGlucose in this period and the other offset version
          type: number
          example: 2.5
          x-go-type: float64
        hasTimeInTargetPercent:
          type: boolean
        timeInTargetPercent:
          description: Percentage of time spent in target glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInTargetPercentDelta:
          description: Difference between the timeInTargetPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInTargetRecords:
          type: boolean
        timeInTargetRecords:
          description: Counter of records in target glucose range
          type: number
          example: 10
          x-go-type: int
        timeInTargetRecordsDelta:
          description: Difference between the timeInTargetRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInHighPercent:
          type: boolean
        timeInHighPercent:
          description: Percentage of time spent in high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInHighPercentDelta:
          description: Difference between the timeInHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInHighRecords:
          type: boolean
        timeInHighRecords:
          description: Counter of records in high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInHighRecordsDelta:
          description: Difference between the timeInHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInVeryHighPercent:
          type: boolean
        timeInVeryHighPercent:
          description: Percentage of time spent in very high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInVeryHighPercentDelta:
          description: Difference between the timeInVeryHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInVeryHighRecords:
          type: boolean
        timeInVeryHighRecords:
          description: Counter of records in very high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInVeryHighRecordsDelta:
          description: Difference between the timeInVeryHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInAnyHighPercent:
          type: boolean
        timeInAnyHighPercent:
          description: Percentage of time spent in Any high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInAnyHighPercentDelta:
          description: Difference between the timeInAnyHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInAnyHighRecords:
          type: boolean
        timeInAnyHighRecords:
          description: Counter of records in Any high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInAnyHighRecordsDelta:
          description: Difference between the timeInAnyHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInLowPercent:
          type: boolean
        timeInLowPercent:
          description: Percentage of time spent in low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInLowPercentDelta:
          description: Difference between the timeInLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInLowRecords:
          type: boolean
        timeInLowRecords:
          description: Counter of records in low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInLowRecordsDelta:
          description: Difference between the timeInLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInVeryLowPercent:
          type: boolean
        timeInVeryLowPercent:
          description: Percentage of time spent in very low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInVeryLowPercentDelta:
          description: Difference between the timeInVeryLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInVeryLowRecords:
          type: boolean
        timeInVeryLowRecords:
          description: Counter of records in very low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInVeryLowRecordsDelta:
          description: Difference between the timeInVeryLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInAnyLowPercent:
          type: boolean
        timeInAnyLowPercent:
          description: Percentage of time spent in Any low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInAnyLowPercentDelta:
          description: Difference between the timeInAnyLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInAnyLowRecords:
          type: boolean
        timeInAnyLowRecords:
          description: Counter of records in Any low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInAnyLowRecordsDelta:
          description: Difference between the timeInAnyLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTotalRecords:
          type: boolean
        totalRecords:
          description: Counter of records
          type: number
          example: 10
          x-go-type: int
        totalRecordsDelta:
          description: Difference between the totalRecords in this period and version in the opposite offset
          type: number
          example: 10
          x-go-type: int
        hasAverageDailyRecords:
          type: boolean
        averageDailyRecords:
          description: Average daily readings
          type: number
          example: 3.5
          x-go-type: float64
        averageDailyRecordsDelta:
          description: Difference between the averageDailyRecords in this period and version in the opposite offset
          type: number
          example: 2.5
          x-go-type: float64
      required:
        - hasAverageGlucoseMmol
        - hasTimeInTargetPercent
        - hasTimeInTargetRecords
        - hasTimeInHighPercent
        - hasTimeInHighRecords
        - hasTimeInVeryHighPercent
        - hasTimeInVeryHighRecords
        - hasTimeInLowPercent
        - hasTimeInLowRecords
        - hasTimeInVeryLowPercent
        - hasTimeInVeryLowRecords
        - hasTimeInAnyLowPercent
        - hasTimeInAnyLowRecords
        - hasTimeInAnyHighPercent
        - hasTimeInAnyHighRecords
        - hasTotalRecords
        - hasAverageDailyRecords
    BGMPeriods:
      type: object
      title: bgmperiods.v1
      description: A map to each supported BGM summary period
      x-go-type-skip-optional-pointer: true
      additionalProperties:
        $ref: '#/components/schemas/BGMPeriod'
    BGMStats:
      type: object
      title: bgmstats.v1
      description: A summary of a users recent BGM glucose values
      properties:
        totalHours:
          description: Total hours represented in the hourly stats
          type: number
          x-go-type: int
        periods:
          $ref: '#/components/schemas/BGMPeriods'
        offsetPeriods:
          $ref: '#/components/schemas/BGMPeriods'
        buckets:
          type: array
          x-go-type-skip-optional-pointer: true
          description: Rotating list containing the stats for each currently tracked hour in order
          items:
            $ref: '#/components/schemas/Bucket'
      required:
        - totalHours
    CGMBucketData:
      type: object
      title: cgmbucketdata.v1
      description: Series of counters which represent one hour of a users data
      properties:
        targetMinutes:
          description: Counter of minutes spent in target glucose range
          type: number
          example: 200
          x-go-type: int
        targetRecords:
          description: Counter of records in target glucose range
          type: number
          example: 10
          x-go-type: int
        highMinutes:
          description: Counter of minutes spent in high glucose range
          type: number
          example: 200
          x-go-type: int
        highRecords:
          description: Counter of records in high glucose range
          type: number
          example: 10
          x-go-type: int
        veryHighMinutes:
          description: Counter of minutes spent in very high glucose range
          type: number
          example: 200
          x-go-type: int
        veryHighRecords:
          description: Counter of records in very high glucose range
          type: number
          example: 10
          x-go-type: int
        lowMinutes:
          description: Counter of minutes spent in low glucose range
          type: number
          example: 200
          x-go-type: int
        lowRecords:
          description: Counter of records in low glucose range
          type: number
          example: 10
          x-go-type: int
        veryLowMinutes:
          description: Counter of minutes spent in very low glucose range
          type: number
          example: 200
          x-go-type: int
        veryLowRecords:
          description: Counter of records in very low glucose range
          type: number
          example: 10
          x-go-type: int
        totalGlucose:
          type: number
          x-go-type: float64
          description: Total value of all glucose records
          example: 1234.56
        totalMinutes:
          description: Counter of minutes using a cgm
          type: number
          example: 200
          x-go-type: int
        totalRecords:
          description: Counter of records using a cgm
          type: number
          example: 10
          x-go-type: int
      required:
        - targetMinutes
        - targetRecords
        - highMinutes
        - highRecords
        - veryHighMinutes
        - veryHighRecords
        - lowMinutes
        - lowRecords
        - veryLowMinutes
        - veryLowRecords
        - totalGlucose
        - totalMinutes
        - totalRecords
    CGMPeriod:
      type: object
      title: cgmperiod.v1
      description: 'Summary of a specific CGM time period (currently: 1d, 7d, 14d, 30d)'
      properties:
        hasAverageGlucoseMmol:
          type: boolean
        averageGlucoseMmol:
          description: Average Glucose of records in this period
          type: number
          example: 5.5
          x-go-type: float64
        averageGlucoseMmolDelta:
          description: Difference between the averageGlucose in this period and the other offset version
          type: number
          example: 2.5
          x-go-type: float64
        hasGlucoseManagementIndicator:
          type: boolean
        glucoseManagementIndicator:
          type: number
          x-go-type: float64
          description: A derived value which emulates A1C
          example: 7.5
        glucoseManagementIndicatorDelta:
          type: number
          x-go-type: float64
          description: Difference between the glucoseManagementIndicator in this period and the other offset version
          example: 7.5
        hasTimeInTargetPercent:
          type: boolean
        timeInTargetPercent:
          description: Percentage of time spent in target glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInTargetPercentDelta:
          description: Difference between the timeInTargetPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInTargetMinutes:
          type: boolean
        timeInTargetMinutes:
          description: Counter of minutes spent in target glucose range
          type: number
          example: 200
          x-go-type: int
        timeInTargetMinutesDelta:
          description: Difference between the timeInTargetMinutes in this period and version in the opposite offset
          type: number
          example: 20
          x-go-type: int
        hasTimeInTargetRecords:
          type: boolean
        timeInTargetRecords:
          description: Counter of records in target glucose range
          type: number
          example: 10
          x-go-type: int
        timeInTargetRecordsDelta:
          description: Difference between the timeInTargetRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInHighPercent:
          type: boolean
        timeInHighPercent:
          description: Percentage of time spent in high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInHighPercentDelta:
          description: Difference between the timeInHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInHighMinutes:
          type: boolean
        timeInHighMinutes:
          description: Counter of minutes spent in high glucose range
          type: number
          example: 200
          x-go-type: int
        timeInHighMinutesDelta:
          description: Difference between the timeInHighMinutes in this period and version in the opposite offset
          type: number
          example: 20
          x-go-type: int
        hasTimeInHighRecords:
          type: boolean
        timeInHighRecords:
          description: Counter of records in high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInHighRecordsDelta:
          description: Difference between the timeInHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInVeryHighPercent:
          type: boolean
        timeInVeryHighPercent:
          description: Percentage of time spent in very high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInVeryHighPercentDelta:
          description: Difference between the timeInVeryHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInVeryHighMinutes:
          type: boolean
        timeInVeryHighMinutes:
          description: Counter of minutes spent in very high glucose range
          type: number
          example: 200
          x-go-type: int
        timeInVeryHighMinutesDelta:
          description: Difference between the timeInVeryHighMinutes in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInVeryHighRecords:
          type: boolean
        timeInVeryHighRecords:
          description: Counter of records in very high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInVeryHighRecordsDelta:
          description: Difference between the timeInVeryHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInAnyHighPercent:
          type: boolean
        timeInAnyHighPercent:
          description: Percentage of time spent in Any high glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInAnyHighPercentDelta:
          description: Difference between the timeInAnyHighPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInAnyHighMinutes:
          type: boolean
        timeInAnyHighMinutes:
          description: Counter of minutes spent in Any high glucose range
          type: number
          example: 200
          x-go-type: int
        timeInAnyHighMinutesDelta:
          description: Difference between the timeInAnyHighMinutes in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInAnyHighRecords:
          type: boolean
        timeInAnyHighRecords:
          description: Counter of records in Any high glucose range
          type: number
          example: 10
          x-go-type: int
        timeInAnyHighRecordsDelta:
          description: Difference between the timeInAnyHighRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInLowPercent:
          type: boolean
        timeInLowPercent:
          description: Percentage of time spent in low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInLowPercentDelta:
          description: Difference between the timeInLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInLowMinutes:
          type: boolean
        timeInLowMinutes:
          description: Counter of minutes spent in low glucose range
          type: number
          example: 200
          x-go-type: int
        timeInLowMinutesDelta:
          description: Difference between the timeInLowMinutes in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInLowRecords:
          type: boolean
        timeInLowRecords:
          description: Counter of records in low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInLowRecordsDelta:
          description: Difference between the timeInLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInVeryLowPercent:
          type: boolean
        timeInVeryLowPercent:
          description: Percentage of time spent in very low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInVeryLowPercentDelta:
          description: Difference between the timeInVeryLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInVeryLowMinutes:
          type: boolean
        timeInVeryLowMinutes:
          description: Counter of minutes spent in very low glucose range
          type: number
          example: 200
          x-go-type: int
        timeInVeryLowMinutesDelta:
          description: Difference between the timeInVeryLowMinutes in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInVeryLowRecords:
          type: boolean
        timeInVeryLowRecords:
          description: Counter of records in very low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInVeryLowRecordsDelta:
          description: Difference between the timeInVeryLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInAnyLowPercent:
          type: boolean
        timeInAnyLowPercent:
          description: Percentage of time spent in Any low glucose range
          type: number
          example: 0.35
          x-go-type: float64
        timeInAnyLowPercentDelta:
          description: Difference between the timeInAnyLowPercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeInAnyLowMinutes:
          type: boolean
        timeInAnyLowMinutes:
          description: Counter of minutes spent in Any low glucose range
          type: number
          example: 200
          x-go-type: int
        timeInAnyLowMinutesDelta:
          description: Difference between the timeInAnyLowMinutes in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeInAnyLowRecords:
          type: boolean
        timeInAnyLowRecords:
          description: Counter of records in Any low glucose range
          type: number
          example: 10
          x-go-type: int
        timeInAnyLowRecordsDelta:
          description: Difference between the timeInAnyLowRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeCGMUsePercent:
          type: boolean
        timeCGMUsePercent:
          description: Percentage of time spent wearing a cgm
          type: number
          example: 0.35
          x-go-type: float64
        timeCGMUsePercentDelta:
          description: Difference between the timeCGMUsePercent in this period and version in the opposite offset
          type: number
          example: 0.2
          x-go-type: float64
        hasTimeCGMUseMinutes:
          type: boolean
        timeCGMUseMinutes:
          description: Counter of minutes spent wearing a cgm
          type: number
          example: 200
          x-go-type: int
        timeCGMUseMinutesDelta:
          description: Difference between the timeCGMUseMinutes in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTimeCGMUseRecords:
          type: boolean
        timeCGMUseRecords:
          description: Counter of minutes spent wearing a cgm
          type: number
          example: 10
          x-go-type: int
        timeCGMUseRecordsDelta:
          description: Difference between the timeCGMUseRecords in this period and version in the opposite offset
          type: number
          example: 5
          x-go-type: int
        hasTotalRecords:
          type: boolean
        totalRecords:
          description: Counter of records
          type: number
          example: 10
          x-go-type: int
        totalRecordsDelta:
          description: Difference between the totalRecords in this period and version in the opposite offset
          type: number
          example: 10
          x-go-type: int
        hasAverageDailyRecords:
          type: boolean
        averageDailyRecords:
          description: Average daily readings
          type: number
          example: 3.5
          x-go-type: float64
        averageDailyRecordsDelta:
          description: Difference between the averageDailyRecords in this period and version in the opposite offset
          type: number
          example: 2.5
          x-go-type: float64
      required:
        - hasAverageGlucoseMmol
        - hasGlucoseManagementIndicator
        - hasTimeInTargetPercent
        - hasTimeInTargetMinutes
        - hasTimeInTargetRecords
        - hasTimeInHighPercent
        - hasTimeInHighMinutes
        - hasTimeInHighRecords
        - hasTimeInVeryHighPercent
        - hasTimeInVeryHighMinutes
        - hasTimeInVeryHighRecords
        - hasTimeInLowPercent
        - hasTimeInLowMinutes
        - hasTimeInLowRecords
        - hasTimeInVeryLowPercent
        - hasTimeInVeryLowMinutes
        - hasTimeInVeryLowRecords
        - hasTimeInAnyLowPercent
        - hasTimeInAnyLowMinutes
        - hasTimeInAnyLowRecords
        - hasTimeInAnyHighPercent
        - hasTimeInAnyHighMinutes
        - hasTimeInAnyHighRecords
        - hasTimeCGMUsePercent
        - hasTimeCGMUseMinutes
        - hasTimeCGMUseRecords
        - hasTotalRecords
        - hasAverageDailyRecords
    CGMPeriods:
      type: object
      title: cgmperiods.v1
      x-go-type-skip-optional-pointer: true
      description: A map to each supported CGM summary period
      additionalProperties:
        $ref: '#/components/schemas/CGMPeriod'
    CGMStats:
      type: object
      title: cgmstats.v1
      description: A summary of a users recent CGM glucose values
      properties:
        totalHours:
          description: Total hours represented in the hourly stats
          type: number
          x-go-type: int
        periods:
          $ref: '#/components/schemas/CGMPeriods'
        offsetPeriods:
          $ref: '#/components/schemas/CGMPeriods'
        buckets:
          type: array
          x-go-type-skip-optional-pointer: true
          description: Rotating list containing the stats for each currently tracked hour in order
          items:
            $ref: '#/components/schemas/Bucket'
      required:
        - totalHours
    Bucket:
      type: object
      title: bucket.v1
      description: bucket containing an hour of bgm or cgm aggregations
      properties:
        date:
          type: string
          format: date-time
        lastRecordTime:
          type: string
          format: date-time
        data:
          oneOf:
            - $ref: '#/components/schemas/BGMBucketData'
            - $ref: '#/components/schemas/CGMBucketData'
      required:
        - date
        - lateRecordTime
    Config:
      type: object
      title: config.v1
      x-go-type-skip-optional-pointer: true
      description: Summary schema version and calculation configuration
      properties:
        schemaVersion:
          description: Summary schema version
          type: number
          x-go-type: int
        highGlucoseThreshold:
          description: Threshold used for determining if a value is high
          type: number
          x-go-type: float64
        veryHighGlucoseThreshold:
          description: Threshold used for determining if a value is very high
          type: number
          x-go-type: float64
        lowGlucoseThreshold:
          description: Threshold used for determining if a value is low
          type: number
          x-go-type: float64
        veryLowGlucoseThreshold:
          description: Threshold used for determining if a value is very low
          type: number
          x-go-type: float64
      required:
        - schemaVersion
        - highGlucoseThreshold
        - veryHighGlucoseThreshold
        - lowGlucoseThreshold
        - veryLowGlucoseThreshold
    Dates:
      type: object
      title: dates.v1
      x-go-type-skip-optional-pointer: true
      description: dates tracked for summary calculation
      properties:
        lastUpdatedDate:
          description: Date of the last calculation
          type: string
          format: date-time
        lastUpdatedReason:
          description: List of reasons the summary was updated for
          type: array
          items:
            type: string
        hasFirstData:
          type: boolean
        firstData:
          description: Date of the first included value
          type: string
          format: date-time
        hasLastData:
          type: boolean
        lastData:
          description: Date of the last calculated value
          type: string
          format: date-time
        hasLastUploadDate:
          type: boolean
        lastUploadDate:
          description: Created date of the last calculated value
          type: string
          format: date-time
        hasOutdatedSince:
          type: boolean
        outdatedSince:
          description: 'Date of the first user upload after lastData, removed when calculated'
          type: string
          format: date-time
        outdatedSinceLimit:
          description: Upper limit of the OutdatedSince value to prevent infinite queue duration
          type: string
          format: date-time
        outdatedReason:
          description: List of reasons the summary was marked outdated for
          type: array
          items:
            type: string
      required:
        - hasFirstData
        - hasLastData
        - hasLastUploadDate
        - hasOutdatedSince
    Summary:
      type: object
      title: summary.v1
      description: A summary of a users recent data
      properties:
        type:
          $ref: '#/components/schemas/SummaryTypeSchema'
        userId:
          $ref: '#/components/schemas/TidepoolUserId'
        config:
          $ref: '#/components/schemas/Config'
        dates:
          $ref: '#/components/schemas/Dates'
        stats:
          oneOf:
            - $ref: '#/components/schemas/CGMStats'
            - $ref: '#/components/schemas/BGMStats'
        updateWithoutChangeCount:
          type: number
          example: 5
          x-go-type: int
      required:
        - updateWithoutChangeCount
  securitySchemes:
    sessionToken:
      description: Tidepool Session Token
      type: apiKey
      name: X-Tidepool-Session-Token
      in: header
    serverToken:
      description: Tidepool Server Token
      type: apiKey
      name: X-Tidepool-Session-Token
      in: header
  parameters:
    summaryType:
      name: summaryType
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/SummaryTypeSchema'
    userId:
      name: userId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TidepoolUserId'
